html, body, #root {
  font-family: maruburi;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B6CAC9;
}

@font-face {
  font-family: "maruburi";
  src: url("./fonts/MaruBuri-SemiBold.ttf");
}